<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Order Details</h2>
        <table class="table table-striped">
          <tr>
            <td>Id:</td>
            <td>{{ order.id }}</td>
          </tr>
          <tr>
            <td>Customer Name:</td>
            <td>{{ order.customerName }}</td>
          </tr>
          <tr>
            <td>Order Date:</td>
            <td>{{ order.orderDate }}</td>
          </tr>
          <tr>
            <td>Total Amount:</td>
            <td>{{ order.totalAmount }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  